
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #191E25;
  --color-gray: #242D35;
  --color-white: #D5BFAB;
  --color-yellow: #FFBC2F;
}
body {
  background-color: var(--color-black);
  overflow-x: hidden;
}
.container {
  width: 90%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  @apply bg-primary text-black px-4 py-3 hover:opacity-80 rounded-md;
}
.button-dark {
  @apply bg-black text-cream;
}
.carrito {
  max-width: 2rem;
  position: relative;
  z-index: 100;
}

.carrito #carrito {
  display: none;
  position: fixed;
  background-color: var(--color-gray);
  min-width: 400px;
  max-width: 100vw;
  bottom: 1rem;
  right: 1rem;
  @apply shadow-xl rounded-xl text-cream;
}

.carrito table {
  overflow-y: auto;
  max-height: 200px;
}

.active {
  display: block !important;
}

.header {
  background-image: url('../public/img/banner.jpg');
  background-position: center;
  position: relative;
  height: 900px;
}
.header::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  left: 0;
  top: 0;
  width: 100vw;
  height: 900px;
  z-index: 1;
}

@media (max-width: 720px) {
  .header {
    height: 700px;
  }
  .header::after {
    height: 700px;
  }
  .carrito #carrito {
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 250px;
    width: 100%;
  }
}